<!DOCTYPE html>
<html {{ site.language_attributes }}>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- WEBSITE DETAIL -->
  <title>
    {% if wp_title %} {{ wp_title }} | {% endif %}
    {{ site.name }}
  </title>
  <meta name="description" content="{{ site.description }}">
  <meta name="theme-color" content=""> <!-- use Hex color -->

  <!-- FAVICON -->
  <link rel="icon" href="{{ images }}/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="{{ images }}/favicon-big.png">

  <!-- STYLESHEET -->
  <link rel="stylesheet" href="{{ css }}/framework.css">
  <link rel="stylesheet" href="{{ css }}/app.css">

  <!-- SOCIAL -->
  <meta property="og:title" content="{{ wp_title }}">
  <meta property="og:site_name" content="{{ site.name }}">
  {% if post.content %}
    <meta property="og:description" content="{{ post.get_preview(25, false, '') }}">
  {% endif %}
  {% if post.thumbnail %}
    <meta property="og:image" content="{{ post.thumbnail.src }}">
  {% endif %}

  {{ wp_head }}
</head>

<body class="{{ body_class }}">

  <div id="main-wrapper">

    <!-- Main Navigation Menu -->
    <nav class="main-menu">
      <div class="main-logo">
        <a href="{{ home_url }}">
          <img src="{{ images }}/favicon-big.png" alt="{{ site.name }}'s Logo">
        </a>
      </div>

      {% for item in menu.items %}
        <div class="{{ item.classes | join(' ') }}">
          <a href="{{ item.url }}">
            {{ item.title }}
          </a>

          {% if item.children %}
            <div class="child-menu">
              {% for child in item.children %}
                <a href="{{ child.url }}">{{ child.title }}</a>
              {% endfor %}
            </div>
          {% endif %}

        </div>
      {% endfor %}
    </nav>

    <!-- Search -->
    <form method="get" action="{{ home_url }}">
      <input type="search" name="s" placeholder="Enter keyword">
      <input type="submit" value="Search">
    </form>

    <!-- Main Content -->
    {% block content %}{% endblock %}

    <div id="footer-push"></div>
  </div>

  <footer class="main-footer">
    {{ site.name }} &copy; {{ "now" | date("Y") }}
  </footer>

  <!-- JAVASCRIPT LIBRARY -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
  <script src="{{ js }}/vendor/jquery.min.js"></script>

  <script src="{{ js }}/vendor/fastclick.min.js"></script>
  <script src="{{ js }}/app.js"></script>

  {{ wp_footer }}

</body>
</html>
